#image-text-pair {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
}

button {
    margin: 70px 200px 60px 50px;
    width: 300px;
    height: 60px;
    font-size: 25px;
    background-color: red;
    color: azure;
    position: absolute;
    top: 15%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

img.pw_img {
    width: 360px;
    height: 240px;
    border: solid 10px silver;
    margin-top: 40px;
}

.header {
    text-align: center;
    background-image: url(../images/hedder_img.jpg);
    margin: auto;
    padding: 30px;
}

.title {
    font-size: 20px #fff;
}

.pw_text {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 650px;
    height: 235px;
    border: solid 10px black;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.textContent {
    font-size: 40px;
}

.pw_text {
    border: solid 10px peru;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 3);
}